
<div class="row">
    <% for(x = 0; x < item.imageId.length; x++) { %>
        <div class="col-md-4">
            <div class="card shadow mb-4 mt-2">
                <div class="card-body">
                    <img src="http://https://admincloud-staycation.hero.com/<%= item.imageId[x].imageUrl %>" style=" width: 100%; display: block;" alt="image">
                </div>
            </div>
            
        </div>
        <% } %>
</div>
<a href="/admin/item" class="btn btn-success mb-3 mt-2" style="margin-right: 100px;"><i class="fas fa-angle-left"></i></a>
   